* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  /*background-color: black;*/
}
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*texts*/

/*header*/
nav {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding-top: 4vh;
  width: 100%;
  z-index: 20;
  transition: 0.4s ease;
}
.logo {
  max-width: 170px;
}
.logo img {
  height: 70px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}
.nav-button {
  display: none;
  cursor: pointer;
}
.nav-button div {
  width: 20px;
  height: 2.5px;
  margin: 2.5px;
  background-color: rgb(226, 226, 226);
}
.fancy-link {
  position: relative;
}
.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #83ce4a;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in;
}

.fancy-link:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1048px) {
  nav {
    padding-top: 0vh;
  }
  .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
    text-align: left;
    background-color: white;
    width: 280px;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }
  .nav-links a {
    color: black;
    font-size: 16px;
  }
  .nav-links li {
    padding-top: 2em;
  }
  .nav-button {
    display: block;
  }
}

.nav-active {
  transform: translateX(0);
}
.nav-hidden {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 37, 65, 0.9);
}

/*home main*/
.home-banner {
  /*background-image: url("background-main.jpg");*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 680px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.home-content {
  align-items: center;
  justify-content: space-between;
  margin-top: 23vh;
}
.home-content .row {
  height: 100%;
}
.content {
  color: white;
}
.content h1 {
  font-size: 36px;
  line-height: 55px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.content h2 {
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 30px;
}
.subdetails {
  font-size: 17px;
  line-height: 20px;
}
.content h2 a {
  font-size: 27px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.mobile-button {
  display: none;
}
.mobile-button button {
  padding: 15px 40px;
  text-transform: capitalize;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 30px;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: white;
  color: black;
}
.mobile-button button:hover {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}
.mobile-button button::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  background-color: #000;
}
.mobile-button button:hover::before {
  right: 0;
  z-index: -1;
}
.home-form {
  background-color: white;
  padding: 25px 32px;
  width: 90%;
  float: right;
  justify-content: space-between;
}
.form-title {
  margin-bottom: 5px;
}
.form-title h1 {
  margin-bottom: 15px;
  font-size: 23px;
  text-align: center;
}
.form-body .row {
  margin-bottom: 12px;
}
.form-body .row button {
  width: 100%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: inline-block;
  padding: 15px;
}
.form-body .row button::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  background-color: white;
  transition: 0.3s ease-in;
}

.form-body .row button:hover::before {
  right: 0;
  z-index: -1;
}

@media (max-width: 768px) {
  .home-banner {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
  }
  .home-content {
    margin-top: 13vh;
  }
  .content h1 {
    line-height: 35px;
    margin-bottom: 30px;
  }
  .content h2 {
    font-size: 16px;
    padding: 13px;
  }
  .content h2 a {
    font-size: 18px;
  }
  .home-form {
    width: 100%;
    float: none;
    margin-top: 30px;
  }
  .mobile-button {
    display: inline-block;
  }
  .form-title h1 {
    margin-bottom: 10px;
    line-height: 40px;
  }
}

/* section4*/

.section4 .colored {
  background: #eeeeee;
}
.leftElement h1 {
  font-size: 45px;
  padding: 180px 0px;
  color: #000;
  font-weight: 700;
}
.rightElements {
  padding: 70px 0px 0px;
}
.rightElements ul li {
  width: 45%;
  display: inline-block;
  margin-bottom: 50px;
  position: relative;
  padding-left: 50px;
  text-align: left;
}
.rightElements ul li::before {
  content: "";
  height: 15px;
  width: 15px;
  background: #0c357f;
  position: absolute;
  top: 34px;
  left: 23px;
}
.listbox h5 {
  font-size: 18px;
}
.listbox p {
  font-size: 16px;
  padding-right: 20px;
  font-weight: 600;
  color: #919191;
}
.rightElements .container button {
  width: 200px;
  height: 50px;
  font-size: inherit;
}
@media (max-width: 768px) {
  .leftElement h1 {
    font-size: 35px;
    padding: 40px 0px;
  }
  .rightElements {
    padding: 15px 0px 0px;
  }
  .rightElements ul li {
    width: 100%;
    margin-bottom: 11px;
  }
}

/* section 5 */

.section5 {
  padding-top: 30px;
}
.section5-title h1 {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
}
.section5-content .block {
  min-height: 210px;
  display: flex;
  margin-bottom: 30px;
  box-shadow: 0px 15px 45px rgba(200, 203, 215, 0.499645);
  padding: 15px;
  position: relative;
}
.section5-content .block::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #4539ee;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in;
}
.section5-content .block:hover::after {
  transform: scaleX(1);
}
.section5-content .block .info {
  text-align: center;
  width: 100%;
}
.section5-content .block .info img {
  margin-top: 10px;
}
.section5-content .block .info .name h5 {
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 8px;
  line-height: 30px;
}
.section5 .container button {
  width: 200px;
  height: 50px;
  font-size: inherit;
}
@media (max-width: 768px) {
  .section5-title h1 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .section5-content .block {
    padding: 10px;
    flex-direction: column;
  }
  .section5-content .block .info .name h5 {
    font-size: 15px;
  }
}

/* footer */
.footer-main {
  border-bottom: 1px solid #e0e0e0;
  background-image: url("map.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
.footer-title h1 {
  text-align: left;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 40px;
}
.footer-title .desktop-button button {
  font-size: 16px;
  padding: 15px 40px;
  text-transform: capitalize;
  display: block;
  float: right;
  margin-top: 50px;
}
.footer-main h3 {
  font-size: 25px;
  padding-bottom: 10px;
  text-align: left;
}
.footer-main p {
  font-size: 14px;
  color: #000;
  line-height: 26px;
  text-align: left;
}

@media (max-width: 768px) {
  .footer-title h1 {
    text-align: center;
  }
  .desktop-button {
    display: none;
  }
  .footer-main h3 {
    text-align: center;
  }
  .footer-main p {
    margin-bottom: 30px;
    text-align: center;
  }
}
